


header{
    background-color: rgb(0, 0, 0);
    display: table;
    width: 100%;
}

.logo-site{
    float:left;
    margin: 0 0 0 200px;
}

.logo-site img{
    float:left;
    max-width: 200px;
}

.logo-site h1{
    display: inline-block;
    margin: 70px 0 0 20px;
}

.logo-site h1 a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
	font-size: 40px;
}

nav{
    float: right;
    margin: 0 200px 0 150px;
}

nav li{
    display: inline-block;
    margin: 60px 0 0 20px;
}IMG-20231010-WA0068.jpg

nav a {
	text-transform: uppercase;
    font-family: Helvetica;
	color: #ffffff;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #03fc0f;
}



main{
    background-color: rgb(255, 255, 255);
    color: #000000;
    
    .produtos {
        width: 940px;
        margin: 0 auto;
        padding: 50px 0;
    }
    .produtos li {
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top;
        margin: 0 1.5%;
        padding: 30px 20px;
        box-sizing: border-box;
        border: 2px solid black;
        border-radius: 10px;
    }
    .produtos li:hover{
        border-color: rgb(255, 255, 255);
    }
    .produtos li:active{
        border-color: rgb(255, 255, 255);
    }
    .produtos li:hover h2{
        font-size: 34px;
    }
    .produtos h2{
        font-size:30px;
        font-weight: bold;
    }
    .produto-descricao{
        font-size: 18px;
    }
    .produto-preco{
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
    }
}

footer {
	text-align: center;
	background: url("dad.jpeg");
	padding: 55px 0;
}

.copyright {
	color: #ffffff;
	font-size: 20px;
	margin: 50px 0 0;
    size: 50px;
}